%section.shop-index.container
  %h1 My Shops
  %p
    %br
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a All
    %li
      %a{:href => "#"} Previous Years
    %li
      %a{:href => "#"} 2014
    %li
      %a{:href => "#"} Future Years
  .well
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Store name
          %th Location
          %th Shop Date
          %th Shop Time
          %th Expenses
          %th Reimbursement
          %th Fee
          %th MS Company
          %th
          %th
      %tbody
        - @shops.each do |shop|
          %tr
            %td= shop.store_name
            %td= shop.location
            %td= display_shop_date(shop.shop_date)
            %td= display_shop_time(shop.shop_time)
            %td= number_to_currency shop.expenses
            %td= number_to_currency shop.reimbursement
            %td= number_to_currency shop.fee
            %td= shop.ms_company
            %td= link_to 'Edit', edit_shop_path(shop), class: "btn btn-warning"
            %td= link_to 'Delete', shop, class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
      %tbody
        %tr
          %th
          %th
          %th
          %th  TOTALS
          %th= number_to_currency @shops.sum(:expenses)
          %th= number_to_currency @shops.sum(:reimbursement)
          %th= number_to_currency @shops.sum(:fee)
          %th
          %th
          %th
    = link_to "Add a new shop", new_shop_path, class: "btn btn-block btn-success"
  .well
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Store name
          %th Location
          %th Shop Date
          %th Shop Time
          %th Expenses
          %th Reimbursement
          %th Fee
          %th MS Company
          %th
          %th
      %tbody
        %h4 Current year shops:
        - @shops.by_year((Time.now.year), field: :shop_date).each do |shop|
          %tr
            %td= shop.store_name
            %td= shop.location
            %td= display_shop_date(shop.shop_date)
            %td= display_shop_time(shop.shop_time)
            %td= number_to_currency shop.expenses
            %td= number_to_currency shop.reimbursement
            %td= number_to_currency shop.fee
            %td= shop.ms_company
            %td= link_to 'Edit', edit_shop_path(shop), class: "btn btn-warning"
            %td= link_to 'Delete', shop, class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }

  = link_to "<< Back to my home page", user_home_path