%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#user", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => home_path} MShop Tracker
    #user.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.divider-vertical
        - if logged_in?
          %li
            %a Welcome back, #{current_user.first_name}
        - else
          %li
            %a Welcome
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search coming soon...", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
      %form.navbar-header.navbar-form.navbar-right
        %ul.form-group
          %li.dropdown
            - if logged_in?
              %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                My Account
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li{:role => "presentation"}
                  = link_to "My shops", user_home_path
                %li{:role => "presentation"}
                  = link_to "My payments", payments_path
                %li{:role => "presentation"}
                  = link_to "Account settings", user_home_path
                %li.divider{:role => "presentation"}
                %li{:role => "presentation"}
                  = link_to "Log out", logout_path, method: "delete"
            - else
              %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                Log In
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li{:role => "presentation"}
                  %a{:href => register_path, :role => "menuitem", :tabindex => "-1"}Register
                %li.divider{:role => "presentation"}
                %li{:role => "presentation"}
                  %a{:href => login_path, :role => "menuitem", :tabindex => "-1"} Log In
