= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      .alert.alert-danger.alert-dismissable{:role => "alert"}
        %h2= "Please fix the following #{pluralize(@shop.errors.count, "error")}:"
        %ul
          - @payment.errors.full_messages.each do |msg|
            %li= msg
  %br
    .well
      %fieldset
        .form-group
          %label.col-sm-2.control-label M.S. company
          .col-sm-10
            = f.text_field :ms_company, placeholder: "Mystery Shopping Company...", class: "form-control"
            %br
        .form-group
          %label.col-sm-2.control-label Payment
          .col-sm-10
            = f.number_field :payments, placeholder: "(numbers only)", class: "form-control"
            %br
        .form-group
          %label.col-sm-2.control-label Pay period begin date
          .col-sm-10
            = f.date_select :pay_period_start
            %p
            %br
        .form-group
          %label.col-sm-2.control-label Pay period end date
          .col-sm-10
            = f.date_select :pay_period_end
            %p
            %br
            .actions
              = hidden_field_tag :user_id, current_user.id
              = f.submit 'Save Payment', class: "btn btn-large btn-success"
              = link_to "Cancel", user_home_path, class: "btn btn-warning"

            
