<!DOCTYPE html>
<html>
<head>
  <title>Mshoptracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <%= render 'shared/navigation' %>
          </div>
        </div>
      </div>
    </header>
  <%= yield %>
</body>
</html>
